.field{
    width:100%;
}

.card{
    width: 35%;
    margin: auto;
    background-color: #fff;
    padding: 25px;
}

.container{
    margin-top: 10px;
}

.card h2{
    text-align: center;
}
.text-center{
    text-align: center;
}
.card button{
    margin: 5px;
}